/*#outer{*/
/*position: absolute;*/
/*margin: auto;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*height: 300px;*/
/*width:500px;*/
/*text-align: center;*/
/*}*/

#register {
    margin: auto;
    border-radius: 10px;
    background-color: #789eb4;
    height: 300px;
    width: 500px;

    display: table-cell;
    vertical-align: middle;
}

#selectLevel {
    margin: auto;
    border-radius: 10px;
    background-color: #998fb4;
    height: 300px;
    width: 500px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#game {
    margin: auto;
    border-radius: 10px;
    background-color: #95b47d;
    height: 300px;
    width: 500px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#gameOver {
    margin: auto;
    border-radius: 10px;
    background-color: #b49f79;
    height: 300px;
    width: 500px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.golden{
    color: yellow;
}
