body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.greeting {

    text-align: center;
    padding: 20px 5px;
}

#outer {
    background-color: #c2d7f6;
    border: solid 2px lightsteelblue;
    border-radius: 15px;
    height: 400px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 10px 5px;

}

#register {
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
}

#selectLevel {
    margin-top: -270px;
    text-align: center;
}

#game {
    margin-top: -150px;
    text-align: center;
}

#gameOver {
    margin-top: -150px;
    text-align: center;
}

.btn, .form-control {
    font-family: 'Bree Serif', serif;
}

.wide-button {
    width: 200px;
    margin: 20px 5px;
}

.golden {
    color: #f1cc00;
}

.card-header {
    background-color: #B0C4DE;
}

.card-block {
    background-color: #c2d7f6;
    padding-left: 22rem;
}

.card {
    text-align: center;
}

